@import './VarColor.css';

.cart__container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cart__container table {
    margin-top: 100px;
    width: 55vw;
    border-collapse: collapse;
}

.cart__header {
    font-weight: bolder;
    text-align: center;
    background-color: rgb(13, 13, 13);
    color: white;
}

.cart__item td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.133);

}

.cart__item td {
    text-align: center;
}

.cart__item--img {
    height: 60px;
}

.cart__item--price {
    text-decoration: line-through;
}

.cart__item--off {
    display: inline;
    font-weight: bolder;
    padding: 2px 5px;
    border: 1px solid var(--main-bg-color03);
    border-radius: 5px;
    color: white;
    background: rgb(40, 22, 77);
    background: linear-gradient(90deg, rgba(40, 22, 77, 1) 25%, rgba(198, 84, 221, 1) 100%);
}

.cart__item--final-price {
    font-weight: bolder;
}

.cart__item td button {
    background-color: rgba(216, 26, 26, 0.92);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__total {
    margin: 20px;
}

/*BTN Finalizar Compra*/
.btn-buy-cart {
    background-color: #151515;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    width: 240px;
    height: 50px;
    border: 1px solid var(--main-bg-color03);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-buy-cart p {
    padding: 5px;
}

.btn-buy-cart:hover {
    background-color: var(--main-bg-color02);
}

/*CARRITO VACIO*/

.cart__empty {
    width: 320px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width: 767px) {

    .cart__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start !important;
        padding-left: 20px;
    }

    .cart__container table {
        margin-top: 100px;
        width: 80%;
        border-collapse: collapse;
    }

    .cart__item--img {
        height: 60px;
    }


    .display-mobile {
        display: none;
    }

    .cart__total {
        font-size: 20px;
        margin: 20px;
    }

    /*BTN Finalizar Compra*/
    .btn-buy-cart {
        font-size: 14px;
        width: 200px;
        height: 40px;
        margin-left: 20px;
    }

    .btn-buy-cart p {
        padding: 5px;
    }

    /*CARRITO VACIO MOBILE*/
    .cart__empty {
        width: 230px;
        height: 260px;
        font-size: 15px;

    }

}