.cont {
    position: absolute;
    bottom: 40%;
    color: white;
    font-size: 28px;
    width: 37%;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
}

.cont:hover {
    background-color: var(--main-bg-color00);
}

.cont__value {
    font-size: 30px;
    margin: 0 10px;
}