@import './VarColor.css';

.products-container {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: auto;
    /*background-color: var(--main-bg-color00);*/
    padding: 5px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    align-items: stretch;
}

@media screen and (max-width: 1650px) {
    .products-container {
        width: 100%;

    }
}

@media screen and (max-width: 1024px) {
    .products-container {
        width: 100%;

    }
}

@media screen and (max-width: 767px) {
    .products-container {
        width: 100%;
        justify-content: center;
    }

}