.nav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #5be677;
}
.nav__items{
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.nav__items div{
    width: 130px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* NoeMbg #5be677 */
    border-radius: 5px;
    background-color: rgba(183, 183, 183, 0.234);

    transition: all 0.2s;
    cursor: pointer;
}
.nav__items div:hover{
    /*color: rgb(255, 255, 255);*/
    border-radius: 15px 15px 5px 5px;
    background-color: rgba(183, 183, 183, 0.50);
}

