.nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*background-color: #5be677;*/
}

.nav__items {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.nav__items div {
    width: 100%;
    height: 35px;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
    border-right: 3px solid rgba(0, 0, 0, 0.264) !important;
}


.nav__items div::after {
    content: "";
    height: 5px;
    border-radius: 12px;
    background: rgb(40, 22, 77);
    background: linear-gradient(90deg, rgba(40, 22, 77, 1) 25%, rgba(198, 84, 221, 1) 100%);
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    width: 0%;
}

.nav__items div:hover::after {
    width: 60%;
}

/*CATEGORIAS*/
.nav__categ-items {
    visibility: hidden;
    position: absolute;
    width: 0%;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    top: 45px;
    left: -11px;
    z-index: 10;

}

.nav__categ-items li {
    padding: 8px;
    list-style: none;
    margin: 0 8px;
    border-left: 3px solid rgba(255, 255, 255, 0.264);
    border-bottom: 3px solid rgba(255, 255, 255, 0.264);
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    border-radius: 0 10px 10px 0;
}

.nav__categ:hover .nav__categ-items {
    visibility: visible;
    width: 90%;
}

.icon-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .nav {
        z-index: 20;
        position: fixed;
        top: 30vh;
        width: 50px;
        right: 0px;
        flex-direction: column;
        height: auto;
        border-radius: 25px 0 0 25px;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
        padding: 10px 5px;
        background-color: rgba(0, 0, 0, 0.1);
        ;

    }

    .nav__items {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__items div {
        width: 60px;
        height: 60px;
        font-size: 16px;
        border-right: none !important;
    }

    .icon-desk {
        display: none;
    }

    .icon-mobile {
        display: block;
    }

    .nav__categ {
        display: none !important;
    }
}